<!DOCTYPE html>
<html>
  <head>
    <title>TestTemplate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'true' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'true' %>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300i,300.100,400,500,600,700,400i,500%7CPlayfair+Display:400,700,900" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
